/* --------------------------------------------------------------------------------------------------------------------------------------------------
RESET & HTML ELEMENTS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {color:#404040;}
a {color:#202020}
a:hover, a:active, a:focus {color:#404040;}
h2 {color:#202020;}
table.table {border:1px solid #CCC;}
table.table th, table.table td {border:1px solid #CCC;}
table.table th {border-bottom:3px solid #202020; color:#202020;}
table.table tr.even td {background-color:#EEE;}
table.table1 {border:0px solid #CCC;}
table.table1 th, table.table1 td {border:0px solid #CCC;}
table.table1 th {border-bottom:3px solid #202020; color:#202020;}
table.table1 tr.even td {background-color:#EEE;}
table.table2 {border:0px solid #CCC;}
table.table2 th, table.table2 td {border:0px solid #CCC; vertical-align:top;}
table.table2 th {border-bottom:3px solid #202020; color:#202020;}
table.table2 tr.even td {background-color:#EEE;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.header .nav li a {color:#FFF;}
.slogan h2 {color:#FFF;}
.footer {border-top:1px solid #DDD; color:#777;}
.footer a {color:#777;}
.footer a:hover {color:#333;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: HOMEPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.slider-slides div div .desc {color:#AAA;}
.slider-slides div div .desc a {color:#AAA;}
.slider-slides div div .desc a:hover {color:#AAA;}
.more a {background-color:#ECECEC; color:#202020;}
.more a:hover {background-color:#D6D6D6; color:#202020;}
.more1 a {background-color:#202020; color:#FFF;}
.more1 a:hover {background-color:#404040; color:#FFF;}
.more2 a {background-color:#202020; color:#FFF;}
.more2 a:hover {background-color:#404040; color:#FFF;}
/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: SUBPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-title {color:#FFF;}
.sponsors li a {font-size:115%;}	
.menu {border-top:1px dotted #CCC;}
.menu li a {border-bottom:1px dotted #CCC;}
.menu li.current a {color:#555;}
.sponsors {color:#888;}
.sponsors li {border-bottom:1px dotted #CCC;}	

/* --------------------------------------------------------------------------------------------------------------------------------------------------
OTHERS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.input-text {border:1px solid #CCC; border-right:1px solid #EEE; border-bottom:1px solid #EEE; color:#888;}