/* --------------------------------------------------------------------------------------------------------------------------------------------------
RESET & HTML ELEMENTS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {background-color:#FFF; color:#404040;}
a {color:#202020}
a:hover, a:active, a:focus {color:#404040;}
h2 {color:#202020;}
table.table {border:1px solid #CCC;}
table.table th, table.table td {border:1px solid #CCC;}
table.table th {border-bottom:3px solid #202020; color:#202020;}
table.table tr.even td {background-color:#EEE;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.header .nav li a {color:#FFF;}
.slogan h2 {color:#FFF;}
.footer {border-top:1px solid #DDD; color:#777;}
.footer a {color:#777;}
.footer a:hover {color:#333;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: HOMEPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.slider-slides div div .desc {color:#FFF;}
.slider-slides div div .desc a {color:#AAA;}
.slider-slides div div .desc a:hover {color:#FFF;}
.more a {background-color:#202020; color:#FFF;}
.more a:hover {background-color:#404040; color:#FFF;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: SUBPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.main-title {color:#FFF;}
.sponsors li a {font-size:115%;}	
.menu {border-top:1px dotted #CCC;}
.menu li a {border-bottom:1px dotted #CCC;}
.menu li.current a {color:#555;}
.sponsors {color:#888;}
.sponsors li {border-bottom:1px dotted #CCC;}	

/* --------------------------------------------------------------------------------------------------------------------------------------------------
OTHERS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.input-text {border:1px solid #CCC; border-right:1px solid #EEE; border-bottom:1px solid #EEE; color:#888;}